<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raul.rsd.android.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MovieActivity"
            android:label="@string/none"
            android:theme="@style/AppTheme">

            <!--Deprecated: By overriding android.R.id.home click we avoid reload the Main Activity-->
            <!--android:parentActivityName=".MainActivity"-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.raul.rsd.android.popularmovies.view.MainActivity" />-->
        </activity>

        <activity
            android:name=".view.ActorActivity"
            android:label="@string/none"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Only access from this app, not shared -->
        <provider
            android:authorities="com.raul.rsd.android.popularmovies"
            android:name="com.raul.rsd.android.popularmovies.data.MoviesProvider"
            android:exported="false" />
    </application>

</manifest>